<div class="container">

<!--   <div class="carousel">
    <div class="carousel__nav">
      <span id="moveLeft" class="carousel__arrow">
        <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
          <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
        </svg>
      </span>
      <span id="moveRight" class="carousel__arrow" >
        <svg class="carousel__icon"  width="24" height="24" viewBox="0 0 24 24">
          <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
        </svg>
      </span>
    </div> -->

<!--     <div class="carousel-item carousel-item--1">
      <div class="carousel-item__image"></div>
      <div class="carousel-item__info">
        <div class="carousel-item__container">
          <h2 class="carousel-item__subtitle">Food & Drinks </h2>
          <h1 class="carousel-item__title">Paloma Cocktail</h1>
          <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          <a href="articles/article_11_PC.html" class="carousel-item__btn">Read More...</a>
        </div>
      </div>
    </div>

    <div class="carousel-item carousel-item--2">
      <div class="carousel-item__image"></div>
      <div class="carousel-item__info">
        <div class="carousel-item__container">
          <h2 class="carousel-item__subtitle">Food & Drinks </h2>
          <h1 class="carousel-item__title">Overnight Oats</h1>
          <p class="carousel-item__description">Clear Glass Window With Brown and White Wooden Frame iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          <a href="articles/article_10_OO.html" class="carousel-item__btn">Read More...</a>
        </div>
      </div>
    </div>

    <div class="carousel-item carousel-item--3">
      <div class="carousel-item__image"></div>
      <div class="carousel-item__info">
        <div class="carousel-item__container">
          <h2 class="carousel-item__subtitle">Beauty & Style </h2>
          <h1 class="carousel-item__title">Ale y Ole</h1>
          <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          <a href="articles/article_14_AYO.html" class="carousel-item__btn">Read More...</a>
        </div>
      </div>
    </div>
  </div> -->

<!--   <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @posts.each do |post| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= post.title %></h2>
        <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
      </div>

      <div>
        <%= raw(post.body).truncate(358) %>
      </div>

      <div class="text-center">
        <%= link_to "READ MORE", post_path(post) %>
      </div>
      <br>
    </div>
    <% end %>
  </div> -->

  <div class="cards">
    <% @posts.each do |post|  %>
      <div class="card">
        <div class="featured-image">
          <%= link_to image_tag(post.media), post_path(post) %>
        </div>
        <div class="overlay">
          <span class="category-title">
            <%= link_to post.category.category_name, post_path(post) %>
          </span>
          <h2 class="entry-title">
            <%= link_to post.title, post_path(post) %>
          </h2>
        </div>
      </div>
    <% end %>
  </div>

    <!-- Article 15 - The Best Banana Bread -->
<!--     <div class="card" id="card-banana-bread">
      <div class="featured-image">
        <a href="articles/article_15_BB.html">
          <img src="https://res.cloudinary.com/fannylikescoffee/image/upload/v1581091167/article_14_1_square_p76kso.jpg" alt="Banana Bread">
        </a>
      </div>
      <div class="overlay">
        <span class="category-title">
          <a href="categories/food-drinks.html">Food & Drinks</a>
        </span>
        <h2 class="entry-title">
          <a href="articles/article_15_BB.html">The Best Banana Bread Recipe</a>
        </h2>
      </div>
    </div> -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="../../assets/javascript/slider.js"></script>
