

<div class="article">
  <div class="article-header">
    <%= image_tag(@post.media) %>
    <p class="article-category"><%= raw @post.category %></p>
    <h1><%= raw @post.title %></h1>
    <p class="article-date text-center"><%= @post.created_at.strftime('%b %d, %Y') %></p>
  </div>

  <div class="article-body">
    <p class="text-center"><%= raw @post.body %></p>
  </div>
</div>
